@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400&display=swap");

.product {
  font-family:"Epilogue", sans-serif ;
  display: flex;
  flex-direction: column;
  min-width: 100px;

  background-color: white;
  width: 100%;
  justify-content: space-around;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  
}

.product-info {
  
}

.product-price {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  color: rgb(77, 75, 75);
}

.product-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.product-rating {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;
}

.product-rating p {
  color: green;
  font-size: 30px;
  font-family: 900;
  margin: 0;
 

}

.product button {
  border: 1px solid green;
  text-align: center;
  width: 100%;
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 8px;
  margin-top: 10px;
}

@media (max-width: 720px) {
  .product-price {
  text-align: left;
  }
}