body {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}
/* Navigation CSS Starts */
.Navbar_container {
  background-color: rgb(107, 114, 128);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.Navbar_body {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0.5rem;
  margin-left: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.Navbar_innerbody {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0.5rem;
  margin-left: 1.25rem;
}

.Navbar_innerbody > div {
  margin-left: 1.25rem;
}

.Navbar_body > * {
  color: black;
  text-decoration: none;
}
.Navbar_innerbody > div > * {
  color: black;
  text-decoration: none;
}
/* Navigation CSS Ends */
.Structure_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Structure_body {
  flex-grow: 1;
}

/* Structure CSS starts*/

/* Structure CSS Ends*/

/* Products CSS starts */
.collection-item {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.collection-container {
  display: flex;
  flex-direction: column;
}
.collection-item img {
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
.collection-footer {
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.collection-footer .name {
  width: 90%;
  margin-bottom: 15px;
}
.collection-footer .price {
  width: 10%;
}
/* Products CSS ends */

/* Footer CSS starts*/
.Footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(107, 114, 128);
}
/* Footer CSS Ends*/
